<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-nav">
<a class="navbar-brand" href="/">home</a>
<a class="navbar-brand" href="/login">login</a>
<a class="navbar-brand" href="/signup">signup</a>
</nav>