<%- include('head'); -%>
<%- include('header'); -%>
<h1>Signup</h1>
<form action="/auth/signup" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" name="Signup">
</form>
<%- include('foot'); -%>